{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/.", "^[./]", ".css"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
